.home {
  height: 275vh;

  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 39px), repeating-linear-gradient(#18122B55, #18122B);
}

.tdiv {
  height: 110px;
  background-color: #18122B;
  position: relative;
}

.title {
  margin: 0;
  padding-top: 5vh;
  margin-left: 22vh;
  color: #8707ff;
  font-family: 'Roboto', sans-serif;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 160vh;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;

}

input[type="text"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
}

.input {
  color: #8707ff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 10px;
  background: white;
  border-color: 2px #fff;
}

input::placeholder {
  color: #8707ff;
  opacity: 1;
  /* Firefox */
}

.input:focus {
  box-shadow: 2px 2px 15px #8707ff inset;
}


button {
  border: none;
  background-color: #8707ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20vh;
  cursor: pointer;
}

.card {
  margin: 10px;
  width: 300px;
  height: 360px;
  border-radius: 10px;
  background-color: #18122B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 2rem;
  box-shadow: 15px 15px 30px #8707ff -15px -15px 30px #000000;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
  -webkit-box-shadow: -1px 0px 14px 11px rgba(99, 89, 133, 1);
  -moz-box-shadow: -1px 0px 14px 11px rgba(99, 89, 133, 1);
  box-shadow: -1px 0px 14px 11px rgba(99, 89, 133, 1);


}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

.card-content {
  margin-top: 5px;
  padding: 10px;

}

.card-content h2 {
  margin: 0;
  color: #635985;
  font-size: 24px;
}

.card-content p {
  margin-top: 6px;

  font-size: 18px;
  color: #ffffff;
}


/*////////////*/

.loader-container {
  margin-left: 55vh;
  display: flex;
  align-items: center;
  margin-top: 10vh;

}

.loader {
  position: relative;
  width: 75vh;
  height: 75vh;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8707ff;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-message{
  color: #8707ff;
  font-size: xx-large;
  margin-top: 50px;
  margin-left: 25px;
}